
<!DOCTYPE html>
<html>
   <body>
      <form action = "http://localhost:5000/a330" method = "POST">
         <p>MSN<input type = "number" name = "MSN" /></p>
         <p>HARNESS_LENGTH <input type = "number" name = "HARNESS_LENGTH" /></p>
         <p>GROSS_WEIGHT<input type = "number" name = "GROSS_WEIGHT" /></p>
          <p>ATMOSPHERIC_PRESSURE<input type = "number" name = "ATMOSPHERIC_PRESSURE" /></p>
          <p>ROOM_TEMPERATURE<input type = "number" name = "ROOM_TEMPERATURE" /></p>
          <p>AIRPORT<input type = "text" name = "AIRPORT" /></p>
          <p>FUEL_CAPACITY_ON_LEFT<input type = "number" name = "FUEL_CAPACITY_ON_LEFT" /></p>
          <p>FUEL_CAPACITY_ON_RIGHT<input type = "number" name = "FUEL_CAPACITY_ON_RIGHT" /></p>
           <p>FUEL_QUANTITY_ON_LEFT<input type = "number" name = "FUEL_QUANTITY_ON_LEFT" /></p>
           <p>FUEL_QUANTITY_ON_RIGHT<input type = "number" name = "FUEL_QUANTITY_ON_RIGHT" /></p>
           <p>FLIGHT_NUMBER<input type = "text" name = "FLIGHT_NUMBER" /></p>



         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>