
<!DOCTYPE html>
<html>
   <body>
      <!--<form action = "http://localhost:5000/a320" method = "POST">-->
          <!--<button type="button" onclick="home">Home</button>-->
          <!--<button type="button" onclick="a320">A320</button>-->
          <!--<button type="button" onclick="a330">A330</button>-->
          <!--<button type="button" onclick="a350">A350</button>-->
          <!--<button type="button" onclick="search_filter">Search and filter</button>-->
    <form action="/a320" method="get">
    <button name="a320" type="submit">a320</button>
    </form>
    <form action="/a330" method="get">
    <button name="a330" type="submit">a330</button>
    </form>
    <form action="/a350" method="get">
    <button name="a350" type="submit">a350</button>
    </form>
    <form action="/search_filter" method="get">
    <button name="search and filter" type="submit">search and filter</button>
    </form>



   </body>
</html>